{% extends "layouts/auth.html" %}

{% block content %}

<div class="card mx-auto" style="width: 90%; max-width: 600px;">
    <div class="card-header">
        <h5 class="card-title h3 text-center">Register</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <input class="form-control" name="username" type="text" placeholder="Username" />
            </div>
            <div class="mb-3">
                <input class="form-control" name="password" type="password" placeholder="Password" />
            </div>
            <div class="mb-3">
                <input class="form-control" name="password2" type="password" placeholder="Confirm password" />
            </div>

            <button class="btn btn-primary mx-auto d-block">Submit</button>
        </form>
        <hr/>
        <p class="text-center">You already have an account ? <a href="/login">login</a></p> 
    </div>
</div>
{% endblock %}
